h1,
h2,
h3,
h4,
h5,
h6,
button {
  letter-spacing: 0.1em;
}
p {
  letter-spacing: 0.05em;
}

h4,
h5,
h6 {
  @include pad {
    font-size: 16px;
    font-weight: 700;
  }
}

i {
  font-size: 24px;
  line-height: 1;

  @include pad {
    font-size: 20px;
  }
}

.btn {
  font-size: 20px;

  @include pad {
    font-size: 16px;
  }
}

time {
  h6 {
    color: $gray-300;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0.1em;


    @include pad {
      font-weight: 600;
      line-height: 1.25;
    }
  }
}

.breadcrumb-item {
  @include pad {
    font-size: 14px;
  }
}
.newsreader {
  font-family: Newsreader;
}