<footer class="layout-footer-wrap">
  <div class="container wrap">
    <div class="d-flex justify-content-between">
      <h2>想看什麼主題由你決定！</h2>
      <div>
        <h5>歡迎投稿與我們分享</h5>
        <button type="button" class="btn btn-accent text-white fs-5 d-flex align-items-center mt-lg-4 ms-auto">
          聯絡我們
        </button>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <div class="text-center border-top py-lg-6">
      <p>©Vivre 2024 All right Reserved</p>
    </div>
  </div>
</footer>