<footer class="layout-footer-wrap">
  <div class="container wrap">
    <div class="footer-title">
      <h2>想看什麼主題由你決定！</h2>
      <div class="footer-content">
        <h5>歡迎投稿與我們分享</h5>
        <button type="button" class="btn btn-accent mt-9 mt-lg-4 ms-lg-auto">
          聯絡我們
        </button>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <div class="text-center border-top py-5 py-lg-6">
      <p>©Vivre 2024 All right Reserved</p>
    </div>
  </div>
</footer>