<nav class="layout-nav-wrap navbar navbar-expand-lg navbar-light p-0">
  <div class="container-md border-bottom px-3 px-md-0 py-4 py-md-9">
    <a class="navbar-brand p-0" href="#">
      <img
        src="/assets/images/logo.png"
        alt="logo-image"
        style="width: 96px; height: 28px;">
    </a>
    <button
      class="navbar-toggler border-0 collapsed" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button
      type="button"
      class="btn-close collapse"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Close"
      id="navbarSupportedContent">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-end">
        <input
          class="form-control rounded-pill position-reative w-100 mt-6 mt-lg-0 ms-lg-8"
          type="search" placeholder="搜尋文章"
          aria-label="Search" style="width: 276px;">
        <i class="icofont-search position-absolute text-accent d-flex align-items-center"></i>
      </form>
      <ul class="navbar-nav fw-bold align-items-lg-center ms-lg-auto">
        <li class="nav-item p-3 p-lg-0 mt-6 mt-lg-0">
          <a class="nav-link px-5" href="#">
            所有文章
          </a>
        </li>
        <li class="nav-item p-3 p-lg-0 mt-6 mt-lg-0 ms-lg-5">
          <a class="nav-link px-5" href="#">
            訂閱方案
          </a>
        </li>
        <li class="nav-item p-3 p-lg-0 mt-6 mt-lg-0 ms-lg-5">
          <a class="nav-link px-5" href="#">
            關於我們
          </a>
        </li>
        <li class="mt-10 mt-lg-0 ms-lg-5">
          <button type="button" class="btn btn-accent lh-sm w-100 d-block d-lg-flex">
            登入 / 註冊
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>