.article-card {
  height: 432px;
  border-bottom: 1px solid $gray-500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  h5 {
    font-size: 20px;
    font-weight: 900;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  .btn {
    color: $accent-200;
    padding: 0;
    border: 0;

    &:hover {
      color: $accent-300;
    }
  }
}