.tag-primary {
  background-color: $primary-300;
  padding: 4px 8px;
  border-radius: 4px;
}
.tag-secondary {
  color: $accent-200;
  background-color: $white;
  border: 1px solid $accent-100;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;

  i {
    margin-top: -4px;
    margin-right: 2px;
  }
}