.tag-primary {
  color: $primary-400;
  background-color: $primary-300;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 4px 8px;
  border-radius: 4px;

  @include pad {
    font-size: 12px;
  }
}
.tag-article-font {
  @include pad {
    font-size: 16px;
  }
}
.tag-margin {
  margin-left: 16px;

  @include pad {
    margin-left: 10px;
  }
}
.tag-secondary {
  color: $accent-200;
  font-weight: 700;
  background-color: $white;
  border: 1px solid $accent-100;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;

  i {
    margin-top: -4px;
    margin-right: 2px;
  }
}