.layout-nav-wrap {
  i {
    margin-right: 20px;

    @include lg-pc {
      margin-top: 24px;
    }

    @include pad {
      right: 0;
      margin-right: 24px;
      margin-top: 36px;
    }
  }

  .navbar-collapse {
    @include pad {
      min-height: 100vh;
    }
  }

  .navbar-collapse.collapsing {
    transition: transform .5s ease-in-out, height .5s ease-in-out;
  }
  
  .navbar-toggler {
    @include lg-pc {
      display: block;
    }
  }
  
  .btn-close {
    padding: 18px;
    
    @include lg-pc {
      display: none;
    }
  }
  
  .navbar-toggler[aria-expanded="true"] {
    @include lg-pc {
      display: none;
    }
  }
  
  .btn-close[aria-expanded="true"] {
    @include lg-pc {
      display: block;
    }
  }
}