/* common */
.booking-section,
.booking-success-section {
  h4 {
    @include pad {
      font-size: 20px;
    }
  }

  h5 {
    font-weight: 900;

    @include pad {
      font-weight: 700;
    }
  }

  table {
    border-top: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
  }

  .total-price {
    color: #09090B;
    font-size: 28px;

    @include pad {
      font-size: 24px;
    }
  }
}

/* booking-section */
.booking-section {
  padding-top: 68px;

  @include pad {
    padding-top: 16px;
  }
}

/* booking-success-section */
.booking-success-section {
  @include pad {
    padding-top: 60px;
  }
}

.booking-success-title {
  color: $accent-200;
  display: flex;
  justify-content: center;
  align-items: end;

  @include pad {
    align-items: center;
  }
  
  h1 {
    @include pad {
      font-size: 28px;
    }
  }

  i {
    font-size: 48px;

    @include pad {
      font-size: 24px;
    }
  }
}