/* index-banner-section */
.index-banner-section {
  padding: 80px 0;
  
  @include pad {
    padding: 0;
  }

  .bg {
    background-image: url('/assets/images/banner.png');
    height: 621px;

    @include pad  {
      background-image: url('/assets/images/banner-sm.png');
      height: 551px;
    }
  }
}

/* index-event-section */
.index-event-section {
  background-color: $primary-200;
  overflow: hidden;

  h4 {
    @include pad {
      color: $accent-200;
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }

  .container {
    position: relative;
  }

  .container::before {
    content: '';
    position: absolute;
    width: 217px;
    height: 81px;
    background-image: url(/assets/images/bg-1.png);
    left: 0; bottom: -80px;

    @include pad {
      display: none;
    }
  }

  .container::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 196px;
    background-image: url(/assets/images/bg-2.png);
    right: -20px; bottom: -80px;

    @include pad {
      background-image: url(/assets/images/bg-2-sm.png);
      width: 160px;
      height: 104px;
      right: -50px; bottom: -56px;
    }
  }
}

/* index-hot-section */
.index-hot-section {
  h5 {
    padding: 24px;
    margin-bottom: 0;

    @include lg-pc {
      padding: 0;
    }
  }
  a {
    @include pad {
      padding: 10px 0;
    }
  }

  .tab-pane {
    @include pad {
      display: block;
      opacity: 1;
    }
  }
}
.hot-list-group {
  padding: 24px;

  li {
    list-style: disc;
  }
}
.hot-card-wrap {
  @include pad {
    box-shadow: 0px 2px 8px 0px #6E6B6714;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .card-body {
    padding: 40px;

    @include pad {
      width: 324px;
      margin-right: 24px;
      padding: 16px;
    }
  }
  .card-text {
    margin-top: 0;
    padding: 0 24px 24px;

    @include pad {
      margin-top: 16px;
      padding: 0;
    }
  }
  .card-group {
    border-radius: 20px;

    @include pad {
      border-radius: 4px;
    }
  }
}

/* index-life-section */
.index-life-section {
  h6 {
    font-size: 20px;
  }
  .display-5 {
    @include pad {
      font-size: 40px;
    }
  }
}

/* index-project-section */
.index-project-section {
  background-color: $primary-200;

  h5 {
    color: $gray-400;
  }
}
.project-section-title {
  span {
    @include lg-pc {
      text-align: center;
    }
  }
}
.project-tag {
  margin-left: 70px;
}

/* index-footer-section */
.footer-title {
  display: flex;
  justify-content: space-between;

  @include pad {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    @include pad {
      font-size: 24px;
    }
  }
}
.footer-content {
  @include pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  h5 {
    font-size: 20px;
    font-weight: 700;
  }
}